.idea/
.vscode/
/app/
/logs/
/src/
/tests/
/var/
/coverage/
/vendor/
/logs/*
!/logs/README.md
.phpunit.result.cache
.coveralls.yml
.github
CONTRIBUTING.md
docker-compose.yml
phpcs.xml
phpstan.neon.dist
phpunit.xml